include ../mixins/sub-menu.pug

header(class="header") 
    .container 
        .row.align-items-center 
            .col-3 
                .header-logo 
                    a(href="/") 
                        img(class="logo-img" src="/images/logo.png", alt="logo") 
            .col-9
                .header-menu 
                    ul.menu-list 
                        li.menu-list--item
                            a(href="/") Trang chủ
                        li(class="sub-menu")
                            -const pathProduct = '/products'
                            a(href=pathProduct) Sản phẩm 
                            +sub-menu(layoutProductsCategory, pathProduct)