/* Header */
a:hover {
    text-decoration: none;
}
.header {
    padding: 3px 0;
    border-bottom: 1px solid #c8c4c4;
}
.logo-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.menu-list {
    display: flex;
    list-style: none;
    gap: 3em;
    justify-content: center;
    margin: auto;
}
.menu-list li {
    display: flex;
}
.menu-list li a{
    font-size: 0.8em;
    color: #999;
    text-decoration: none;
}
.menu-list li:hover a {
    color: rgb(182, 172, 105);
}
/*End Header */
/* products */
.product-item {
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: relative;
    height: 100%;
}
.product-item .product-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.product-item .product-img .product-featured {
    top: 0;
    left: 0;
    background-color: green;
    padding: 3px 6px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: absolute;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.product-item .product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.product-item .product-img:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform-origin: center center;
}
.product-title {
    font-size: 1.2em;
    padding: 9px 0;
    margin-bottom: unset;
}
.product-title a {
    color: red;
}
.product-price--new {
    font-size: 1.5em;
    margin-right: 10px;
}
.product-price--old {
    font-size: 1.2em;
    text-decoration: line-through;
    color: #999;
}
.product-discount {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px;
    background-color: rgb(232, 102, 102);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #ffffff;
    font-size: .8em;
}

/* End products */
/* Footer */
.footer {
    text-align: center;
    padding: 9px;
    background-color: rgb(35, 34, 34);
    color: #ffffff;
}
/*End Footer */


/* sub-menu */
.sub-menu {
    position: relative;
    z-index: 999;
}
.sub-menu ul {
    position: absolute;
    right: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    top: 100%;
    background: #eae9e9;
    min-width: 180px;
    display: none;
}
.sub-menu ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.sub-menu:hover > ul {
    display: block;
}
.sub-menu ul li {
    position: relative;
}
.sub-menu ul li ul {
    right: 100%;
    top: 0;
}
.sub-menu ul li:hover > ul {
    display: block;
}
/* End sub-menu */

/* product-detail */
.product-detail {
    border-bottom: 1px solid #d3d1d1;
}
.product-detail .product-priceNew {
    font-size: 22px;
    color: #d0011b;
}
.product-detail .product-price {
    font-size: 14px;
    text-decoration: line-through;
    color: #999;
}
.product-detail .product-discountPercentage b {
    padding: 3px 5px;
    background-color: #d0011b;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.product-detail .product-stock b {
    padding: 3px 5px;
    background-color: #2e8e27;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* End product-detail */

/* show alert */
[show-alert] {
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 9999;
}
[show-alert].alert-hide {
    animation-name: alert-hide;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes alert-hide {
    from {
        right: 15px;
    }
    to {
        right: -100%;
        display: none;
    }
}

[show-alert] [close-alert] {
    background-color: #ffffffc4;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-weight: 600;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}

/* mini cart (Giỏ hàng) */
.mini-cart {
    position: relative;
}
.mini-cart .product-number {
    position: absolute;
    top: -5px;
    right: -16px;
    width: 16px;
    height: 16px;
    color: #fff;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* chat */
.chat {
    width: 800px;
    border: 1px solid #c8c4c4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.chat .chat-body {
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow-y: auto;
    border-bottom: 1px solid #999;
    padding: 15px;
}

/* Tùy chỉnh thanh cuộn dọc */
.chat .chat-body::-webkit-scrollbar {
    width: 8px;
}

.chat .chat-body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.chat .chat-body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px; /* Bo góc cho thanh cuộn */
}

.chat .chat-body::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

.chat .chat-body::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
}

.chat .chat-incoming .chat-name{
    font-weight: 600;
    font-size: 12px;
}
.chat .chat-incoming .chat-content{
    width: fit-content;
    max-width: 250px;
    background-color: #dcd7d7;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    word-wrap: break-word;
    float: left;
    margin: 3px 0;
}

.chat .chat-outgoing .chat-content{
    width: fit-content;
    max-width: 250px;
    color: #fff;
    background-color: #FE5DA3;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    word-wrap: break-word;
    float: right;
    margin: 3px 0;
}
.chat .chat-image img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.chat .chat-outgoing .chat-image {
    margin-left: auto;
    text-align: right;
}
.chat .chat-image-preview .label-container,
.chat .chat-image-preview .input-container {
    display: none;
}

.chat .chat-image-preview .custom-file-container .image-preview {
    height: auto;
    padding: 0;
}

.chat .chat-image-preview .image-preview-item {
    width: 100px;
}

.chat-foot {
    margin-top: 20px;
}
.chat-foot .chat-form {
    width: 100%;
    display: flex;
    padding: 0 15px 15px 15px;
}
.chat-foot .chat-form input {
    width: 100%;
    flex: 1;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 5px 10px;
    border-color: #c8c4c4;
}
.chat-foot .chat-form button {
    width: 50px;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #FE5DA3;
    color: #fff;
}

/* icon */
.tooltip {
    visibility: hidden;
}
.tooltip.shown {
    visibility: visible;
    opacity: 1;
}

/* CSS styling for the typing animation */
.chat-dots {
    display: inline-block;
    width: 50px;
    margin-left: 5px;
}
.dot {
    height: 8px;
    width: 8px;
    background-color: #555;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    animation: typingAnimation 1s infinite;
}

@keyframes typingAnimation {
    0%, 20%, 100% {
        transform: scale(1);
        background-color: #555;
    }
    40% {
        transform: scale(1.2);
        background-color: #a8a6a6;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
}
}