header(class="header") 
    .container-fluid
        .row.align-items-center
            .col-2 
                .header-logo    
                    a(href="/admin/dashboard") HUY ADMIN 
            .col-10
                .header-social
