.sidebar
    .sidebar-menu 
        ul.menu-list
            li.menu-item
                a(href=`${prefixAdmin}/dashboard`) Tổng quan  
            li.menu-item
                a(href=`${prefixAdmin}/products`) Sản phẩm  
